@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.leaflet-interactive{
    stroke: #103A53 !important;
    fill: #25a0a950!important;
}

.modebar{
      display: none !important;
}

.base-map{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* INITIAL MODAL */
.initial-modal-header{
    background-color: var(--blue4) !important;
    justify-content: center;
    color: var(--dust);
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.initial-modal-body{
    background: linear-gradient(155deg,rgba(16, 58, 83, 1) 0%, rgba(16, 58, 83, 1) 36%, rgba(37, 161, 169, 1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
}

.initial-modal-catchphrase{
    text-align: center;
    padding-bottom: 20px !important;
}

.initial-modal-select .Select-control{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: var(--blue4) !important;
    background-color: var(--dust);
}

.initial-modal-select .is-focused:not(.is-open){
    box-shadow: 0 0 0 .25rem #d5f2e83e !important;
    color: var(--blue4) !important;
    border: 0px;
}

.initial-modal-select .Select-menu-outer{
    background-color: #f8ede6;
    color: var(--blue4) !important;
    font-family: 'Montserrat', sans-serif;
}

.initial-modal-second-step{
    margin-top: 20px;
}

.initial-modal-important{
    color: var(--blue1);
}

.initial-modal-sub-important{
    font-style: italic;
    color: var(--blue1);
}

.initial-modal-info{
    font-style: italic;
    font-size: 12px;
}

.initial-modal-button-div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.initial-modal-button{
    font-family: 'Cinzel', serif;
    color: var(--blue4);
    background-color: var(--dust);
    border: 0px;
}

.initial-modal-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue4);
    border: 0px;
}

.initial-modal-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue3);
    border: 0px;
}

.initial-modal-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue1) !important;
    background-color: var(--blue3) !important;
    border: 0px !important;
}

/* ERROR MODAL */
.error-modal-header{
    background-color: #883e11 !important;
    justify-content: center;
    color: var(--dust);
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.error-modal-body{
    background: linear-gradient(165deg, #883e11 0%, #883e11 36%, var(--dust) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
    text-align: center;
}

.error-modal-image{
    width: 400px;
    text-align: center;
    border-radius: 8px;
}

.error-modal-footer{
    display: relative;
    background: linear-gradient(145deg, #bc8c6f 0%, #d5b19c 36%, var(--dust) 80%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
}

.error-modal-button-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--blue4);
}

.error-modal-redraw-button{
    font-family: 'Cinzel', serif;
    color: var(--dust);
    background-color: var(--blue4);
    border: 0px;
}

.error-modal-redraw-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue3);
    border: 0px;
}

.error-modal-redraw-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue2);
    border: 0px;
}

.error-modal-redraw-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue1) !important;
    background-color: var(--blue2) !important;
    border: 0px !important;
}

/* CONFIRMATION MODAL */
.confirmation-modal-header{
    background-color: #D5F2E8 !important;
    justify-content: center;
    color: var(--blue4);
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.confirmation-modal-body{
    background: linear-gradient(171deg, #D5F2E8 0%, #D5F2E8 36%, var(--blue3) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--blue4);
    text-align: center;
}

.confirmation-modal-footer{
    display: relative;
    background: linear-gradient(145deg, #a8ddd8 0%, #51b5b8 46%, var(--blue3) 80%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
}

.confirmation-modal-button-div{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    color: var(--blue4);
}

.confirmation-modal-redraw-button{
    font-family: 'Cinzel', serif;
    color: var(--blue4);
    background-color: var(--dust);
    border: 0px;
}

.confirmation-modal-redraw-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: #9a6646;
    border: 0px;
}

.confirmation-modal-redraw-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: #bc8c6f;
    border: 0px;
}

.confirmation-modal-redraw-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue1) !important;
    background-color: #bc8c6f !important;
    border: 0px !important;
}

.confirmation-modal-ok-button{
    font-family: 'Cinzel', serif;
    color: var(--dust);
    background-color: var(--blue4);
    border: 0px;
}

.confirmation-modal-ok-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue3);
    border: 0px;
}

.confirmation-modal-ok-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue4);
    background-color: var(--blue1);
    border: 0px;
}

.confirmation-modal-ok-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue4) !important;
    background-color: var(--blue1) !important;
    border: 0px !important;
}

/* HEADER */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);   /* start slightly smaller */
    }
    100% {
        opacity: 1;
        transform: scale(1);     /* end at normal size */
    }
}

.header-div{
    position: absolute;
    display: none;
    width: 80%;
    background: linear-gradient(to left, #103a5300 0%, #103a5375 25%, #103a53c6 50%, #103a5375 75%, #103a5300 100%);
    z-index: 10000;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    color: var(--blue1);
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    animation: fadeInScale 0.8s ease-out forwards;
    transform-origin: center center;
}

.header-title{
    font-family: 'Cinzel', serif;
    font-size: 21px;
}

#header-tile-dropdown{
    width: 180px;
    font-size: 14px;
    color: var(--blue4);
}

.header-tile-dropdown .Select-control{
    color: var(--blue4) !important;
    background-color: var(--blue4);
}

.header-tile-dropdown .Select-value-label{
    color: var(--dust) !important;
}

.header-center-button{
    width: 180px;
    font-size: 14px;
    background-color: var(--blue4);
    color: var(--dust);
    border: 1px solid rgb(214, 211, 211);
    height: 36px;
    border-radius: 5px;
}

.header-center-button:hover{
    color: var(--blue1);
    background-color: var(--blue4);
    border: 1px solid rgb(214, 211, 211);
}

.header-center-button:focus-visible{
    color: var(--blue1);
    background-color: #1f6288;
    border: 1px solid rgb(214, 211, 211);
}

.header-center-button:active{
    color: var(--blue1) !important;
    background-color: #1f6288 !important;
    border: 1px solid rgb(214, 211, 211);
}


/* FILTERS Offcanvas */
@keyframes slide-in {
    0% {
        transform: translate(0%, -180%);  /* start far to the right */
        opacity: 0;
    }
    100% {
        transform: translate(0, -0%);     /* final centered X position */
        opacity: 1;
    }
}

.filter-button {
    position: fixed;
    display: none;
    align-items: end;
    rotate: 90deg;
    vertical-align: middle;
    top: 45%;
    right: -75px;
    z-index: 1000;  
    background-color: var(--blue4);
    color: var(--dust);
    border: none;
    cursor: pointer;
    height: 45px;
    white-space: pre;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    animation: slide-in 0.8s ease-out forwards;
}

.filter-button:hover{
    color: var(--blue1);
    background-color: var(--blue4);
    border: 1px solid rgb(214, 211, 211);
}

.filter-button:focus-visible{
    color: var(--blue1);
    background-color: #1f6288;
    border: 1px solid rgb(214, 211, 211);
}

.filter-button:active{
    color: var(--blue1) !important;
    background-color: #1f6288 !important;
    border: 1px solid rgb(214, 211, 211);
}

.filter-offcanvas {
    display: flex;
    vertical-align: middle;
    top: 90px !important;
    z-index: 1000;  
    background-color: #7e97a5;
    border-top: 2px solid var(--blue4) !important;
    border-bottom: 2px solid var(--blue4) !important;
    border-left: 2px solid var(--blue4) !important;
    color: var(--dust);
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#status-checklist input[type="checkbox"]:checked {
    accent-color: var(--blue3);
}

#type-checklist input[type="checkbox"]:checked {
    accent-color: var(--blue3);
}

#select-all-category input[type="checkbox"]:checked {
    accent-color: var(--blue4);
}

#select-all-category .label {
    padding-left: 10px;
}

#select-all-status input[type="checkbox"]:checked {
    accent-color: var(--blue4);
}

.filter-span{
    font-style: italic;
    color: var(--blue4);
}

.filter-sub-header{
    color: var(--blue4);
    font-weight: 600;
    border-bottom: 1px solid var(--blue4);
    padding-bottom: 5px;
}


/* TOOLTIPS Offcanvas */
.tooltips-button {
    position: fixed;
    display: none;
    align-items: end;
    rotate: -90deg;
    vertical-align: middle;
    top: 45%;
    left: -75px;
    z-index: 1000;  
    background-color: var(--blue4);
    color: var(--dust);
    border: none;
    cursor: pointer;
    height: 45px;
    white-space: pre;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    animation: slide-in 0.8s ease-out forwards;
}

.tooltips-button:hover{
    color: var(--blue1);
    background-color: var(--blue4);
    border: 1px solid rgb(214, 211, 211);
}

.tooltips-button:focus-visible{
    color: var(--blue1);
    background-color: #1f6288;
    border: 1px solid rgb(214, 211, 211);
}

.tooltips-button:active{
    color: var(--blue1) !important;
    background-color: #1f6288 !important;
    border: 1px solid rgb(214, 211, 211);
}

.tooltips-offcanvas {
    display: flex;
    vertical-align: middle;
    top: 90px !important;
    z-index: 1000;  
    background-color: #7e97a5;
    border-top: 2px solid var(--blue4) !important;
    border-bottom: 2px solid var(--blue4) !important;
    border-right: 2px solid var(--blue4) !important;
    color: var(--dust);
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.tooltip-info-italic{
    font-style: italic;
    color: var(--blue4);
    font-size: 14px;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
    padding-bottom: 10px;
}

.tooltip-mmsi-name{
    color: var(--blue1);
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
    padding-bottom: 10px;
    font-weight: 600;
}

.tooltip-sub-titles{
    color: var(--blue4);
    font-weight: 600;
    border-bottom: 1px solid var(--blue4);
    padding-bottom: 5px;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.tooltip-displayed-info{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.sog-fig{
    margin-top: -34px;
}

/* FOOTER */
.footer-div{
    position: absolute;
    display: none;
    width: 100%;
    background: linear-gradient(to left, #103a5300 0%, #103a5375 25%, #103a53c6 50%, #103a5375 75%, #103a5300 100%);
    z-index: 10000;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    color: var(--blue1);
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    animation: fadeInScale 0.8s ease-out forwards;
    transform-origin: center center;
    bottom: 0;
}

.footer-info{
    color: var(--blue4);
    font-size: 14px;
    margin-left: 45px;
}

.footer-count{
    color: var(--blue2);
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
}

.href-div{
    color: var(--blue4);
    font-size: 12px; 
    margin-right: 45px;
}

.footer-href1{
    margin-left: 5px;
}

.footer-href2{
    margin-left: 5px;
}






.vessel-tooltip{
    background-color: var(--dust);
    border-radius: 10px;
    border-color: var(--dust);
    color: var(--blue4);
}