@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.leaflet-interactive{
    stroke: #103A53 !important;
    fill: #25a0a950!important;
}

.base-map{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* INITIAL MODAL */
.initial-modal-header{
    background-color: var(--blue4) !important;
    justify-content: center;
    color: var(--dust);
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.initial-modal-body{
    background: linear-gradient(155deg,rgba(16, 58, 83, 1) 0%, rgba(16, 58, 83, 1) 36%, rgba(37, 161, 169, 1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
}

.initial-modal-catchphrase{
    text-align: center;
    padding-bottom: 20px !important;
}

.initial-modal-select .Select-control{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: var(--blue4) !important;
    background-color: var(--dust);
}

.initial-modal-select .is-focused:not(.is-open){
    box-shadow: 0 0 0 .25rem #d5f2e83e !important;
    color: var(--blue4) !important;
    border: 0px;
}

.initial-modal-select .Select-menu-outer{
    background-color: #f8ede6;
    color: var(--blue4) !important;
    font-family: 'Montserrat', sans-serif;
}

.initial-modal-second-step{
    margin-top: 20px;
}

.initial-modal-important{
    color: var(--blue1);
}

.initial-modal-sub-important{
    font-style: italic;
    color: var(--blue1);
}

.initial-modal-info{
    font-style: italic;
    font-size: 12px;
}

.initial-modal-button-div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.initial-modal-button{
    font-family: 'Cinzel', serif;
    color: var(--blue4);
    background-color: var(--dust);
    border: 0px;
}

.initial-modal-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue4);
    border: 0px;
}

.initial-modal-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue3);
    border: 0px;
}

.initial-modal-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue1) !important;
    background-color: var(--blue3) !important;
    border: 0px !important;
}

/* ERROR MODAL */
.error-modal-header{
    background-color: #883e11 !important;
    justify-content: center;
    color: var(--dust);
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.error-modal-body{
    background: linear-gradient(165deg, #883e11 0%, #883e11 36%, var(--dust) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
    text-align: center;
}

.error-modal-image{
    width: 400px;
    text-align: center;
    border-radius: 8px;
}

.error-modal-footer{
    display: relative;
    background: linear-gradient(145deg, #bc8c6f 0%, #d5b19c 36%, var(--dust) 80%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
}

.error-modal-button-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--blue4);
}

.error-modal-redraw-button{
    font-family: 'Cinzel', serif;
    color: var(--dust);
    background-color: var(--blue4);
    border: 0px;
}

.error-modal-redraw-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue3);
    border: 0px;
}

.error-modal-redraw-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue2);
    border: 0px;
}

.error-modal-redraw-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue1) !important;
    background-color: var(--blue2) !important;
    border: 0px !important;
}

/* CONFIRMATION MODAL */
.confirmation-modal-header{
    background-color: #D5F2E8 !important;
    justify-content: center;
    color: var(--blue4);
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.confirmation-modal-body{
    background: linear-gradient(165deg, #D5F2E8 0%, #D5F2E8 36%, var(--blue3) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--blue4);
    text-align: center;
}

.confirmation-modal-footer{
    display: relative;
    background: linear-gradient(145deg, #a8ddd8 0%, #51b5b8 46%, var(--blue3) 80%);
    font-family: 'Montserrat', sans-serif;
    color: var(--dust);
}

.confirmation-modal-button-div{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    color: var(--blue4);
}

.confirmation-modal-redraw-button{
    font-family: 'Cinzel', serif;
    color: var(--blue4);
    background-color: var(--dust);
    border: 0px;
}

.confirmation-modal-redraw-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: #9a6646;
    border: 0px;
}

.confirmation-modal-redraw-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: #bc8c6f;
    border: 0px;
}

.confirmation-modal-redraw-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue1) !important;
    background-color: #bc8c6f !important;
    border: 0px !important;
}

.confirmation-modal-ok-button{
    font-family: 'Cinzel', serif;
    color: var(--dust);
    background-color: var(--blue4);
    border: 0px;
}

.confirmation-modal-ok-button:hover{
    font-family: 'Cinzel', serif;
    color: var(--blue1);
    background-color: var(--blue3);
    border: 0px;
}

.confirmation-modal-ok-button:focus-visible{
    font-family: 'Cinzel', serif;
    color: var(--blue4);
    background-color: var(--blue1);
    border: 0px;
}

.confirmation-modal-ok-button:active{
    font-family: 'Cinzel', serif;
    color: var(--blue4) !important;
    background-color: var(--blue1) !important;
    border: 0px !important;
}





.vessel-tooltip{
    background-color: var(--dust);
    border-radius: 10px;
    border-color: var(--dust);
    color: var(--blue4);
}